<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tony.tang.note.app">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.tony.tang.note.app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoTitleBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.tony.tang.note.ui.feature.note.list.NoteListPagingActivity"
            android:label="@string/note_list">

        </activity>

        <activity
            android:name="com.tony.tang.note.ui.feature.note.detail.NoteDetailActivity"
            android:label="@string/note_detail"/>
        <activity
            android:name="com.tony.tang.note.ui.feature.note.creation.NoteCreateActivity"
            android:label="@string/note_create"/>
        <activity
            android:name="com.tony.tang.movie.ui.feature.search.list.MovieSearchActivity"
            android:label="@string/note_create">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>